/* Background */
body {
  background-color: #fddbff;
}

body {font-family: Verdana, sans-serif;
  background-image: url("https://cdn.pixabay.com/photo/2017/05/10/10/46/flowers-2300514_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* title and header */

#headers {
  border: 3px double black;
  width: 100%;
	height: 110px;
  padding-top: -10px;
  padding-bottom: 50px;
  text-align: center;
	margin-top: 60px;
  align-items: center;
  justify-content:center;
	background: linear-gradient(#EAD2D7, #FEF0D8);
}

h1 {
  font-family: monotastic;
  font-size: 100px;
  font-style: italic;
  font-weight: lighter;
  color: #1abc9c;
  vertical-align: middle;
  line-height: 14px;
  text-align: center;
  padding-bottom: 40px;
  attachment: fixed;
}
/* title and header */


/* Add a black background color to the top navigation */
/* .topnav {
    background-color: #1abc9c;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: center;
    height: 30px;
    color: #1abc9c;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
/*.topnav a:hover {
    background-color: #1abc9c;
    color: #1abc9c;
  }
    /* padding: 16px; */

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #4CAF50;
    color: white;
} */



.topnav {
    font-family: monostic;
    color: black;
    background-color: #1abc9c;
    overflow: hidden;
    text-align: center;
    attachment: fixed;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    font-size: 18px;

}


/* Change the color of links on hover */
.topnav a:hover {
    background-color: #EAD2D7;
    color: black;
    /* padding: 20px 20px; */
    /* padding-left: 35px;
    padding-right: 35px; */
    text-decoration: underline;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #EAD2D7;
    color: black;
    text-align: center;
}



ul {list-style-type: none;}


p {
  width: 80%;
  /* display: inline-block; */
  height:50px;
  box-sizing:border-box;
  text-align: center;
  font-size: 25px;
}
/* calendar */
iframe {
  background-color: #1abc9c;
  font-family: monastic;
  border: 3px double black;
  color: #1abc9c;
}
/* calendar */

body{
  margin: 100px auto;
  background-color: lightgray;
  font-family: 'Kanit', sans-serif;
}


.add:hover, .create-event:hover, .add-event:hover{
  color:#27e879 !important;
  border-color: #27e879 !important;
}
